{% extends "template.html" %}

{% block content %}
<h4 class="text-muted">Edit Log</h4><br>

<form method="post" id="tracker-log-edit">
    <div>
        <label for="when">When</label>
        <input type="datetime-local" name="when" id="when" value="{{ log.timestamp }}" required />
    </div>
    <div>
        {% if tracker_type == "Numerical" %}
        <label for="value">Value</label>
        <input type="number" name="value" id="value" value="{{ log.value }}" required />
        {% endif %}

        {% if tracker_type == "Time Duration" %}
        <label for="hours">Hours</label>
        <input type="number" name="hours" id="hours" value="{{ hours }}" required step="1" min="0" />
        <br>
        <label for="minutes">Minutes</label>
        <input type="number" name="minutes" id="minutes" value="{{ minutes }}" required step="1" min="0" max="59" />
        {% endif %}

        {% if tracker_type == "Boolean" %}
        <label for="value">Value</label>
        <select name="value" id="value" required>
            <option value="" disabled>Select value</option>
            <option value="true" {{"selected" if log.value == "true"}}>True</option>
            <option value="false" {{"selected" if log.value == "false"}}>False</option>
        </select>
        {% endif %}

        {% if choices %}
        <label for="value">Value</label>
        <select name="value" id="value" required>
            <option value="" disabled>Select value</option>
            {% for choice in choices %}
            <option value="{{ choice }}" {{"selected" if log.value == choice}}>{{ choice }}</option>
            {% endfor %}
        </select>   
        {% endif %}
    </div>
    <div>
        <label for="note">Note</label>
        <textarea form="tracker-log-edit" name="note" id="note" required>{{ log.note }}</textarea>
    </div>
    <div>
        <button class="btn btn-outline-success" type="submit">Log it</button>
    </div>
</form>
{% endblock %}