{% extends "template.html" %}

{% block content %}
<h4 class="text-muted">Add log</h4><br>

<form method="post" id="tracker-log">
    <div>
        <label for="when">When</label>
        <input type="datetime-local" name="when" id="when" value="{{local_timestamp}}" required />
    </div>
    <div>
        {% if tracker_type == "Numerical" %}
        <label for="value">Value</label>
        <input type="number" name="value" id="value" required />
        {% endif %}
        {% if tracker_type == "Time Duration" %}
        <label for="hours">Hours</label>
        <input type="number" name="hours" id="hours" required step="1" min="0" />
        <br>
        <label for="minutes">Minutes</label>
        <input type="number" name="minutes" id="minutes" required step="1" min="0" max="59" />
        {% endif %}
        {% if tracker_type == "Boolean" %}
        <label for="value">Value</label>
        <select name="value" id="value" required>
            <option value="" disabled>Select value</option>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        {% endif %}
        {% if choices %}
        <label for="value">Value</label>
        <select name="value" id="value" required>
            <option value="" disabled>Select value</option>
            {% for choice in choices %}
            <option value="{{ choice }}">{{ choice }}</option>
            {% endfor %}
        </select>   
        {% endif %}
    </div>
    <div>
        <label for="note">Note</label>
        <textarea form="tracker-log" name="note" id="note" required></textarea>
    </div>
    <div>
        <button class="btn btn-outline-success" class="btn btn-1" type="submit">Log it</button>
    </div>
</form>
{% endblock %}