{% extends "template.html" %}

{% block content %}
<h3>{{ tracker.name }} - Tracker</h3>
<div>
    <img src="{{url_for('static', filename='graph.png')}}" width="1000" height="500" />
    <form method="post" id="time-period">
        <select name="period" id="period" onchange="submitDetails('time-period')">
            <option value="0" {"selected" if period=="0"}>All time</option>
            <option value="1" {"selected" if period=="1"}>Today</option>
            <option value="7" {"selected" if period=="7"}>This week</option>
            <option value="30" {"selected" if period=="30"}>This month</option>
        </select>
    </form> 
</div>
<br>
<h3>Logs</h3>
<table border="1px">
    <thead>
        <tr>
            <th>When</th>
            <th>Value</th>
            <th>Note</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.timestamp }}</td>
            <td>{{ log.value }}</td>
            <td>{{ log.note }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href='/tracker/{{ tracker.id }}/log/{{ log.id }}/edit'>Edit</a>
                      <a class="dropdown-item" href='/tracker/{{ tracker.id }}/log/{{ log.id }}/delete'>Delete</a>
                    </div>
                  </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function submitDetails(formID) {
        document.getElementById(formID).submit();
    }
</script>
{% endblock %}